<h2>Guardar Proyecto</h2>
<form method="post" action="/guardar_proyecto">
  <div class="form-group">
    <label for="nombre">Nombre Proyecto</label>
    <input type="text" class="form-control"
      id="nombre" aria-describedby="nombre_proyecto"
      name="nombre"
      placeholder="Ingrese nombre de proyecto">
    <small id="emailHelp" class="form-text text-muted">
      Trate de ser descriptivo.
    </small>
  </div>
  <div class="form-group">
    <label for="ciclo">Ciclo</label>
    <select class="form-control custom-select" name="ciclo">
      <option value="2017-1">2017-1</option>
      <option value="2017-2">2017-2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="curso">Curso</label>
    <select class="form-control custom-select" name="curso">
      <option value="PW">Programación Web</option>
      <option value="2017-2">Ingeniería de Software</option>
    </select>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea class="form-control" name="descripcion"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>